body    {background-color: black;}
header  {height: 100px; background-color: white; border-radius: 8px; margin: 5px; padding: 5px;}
nav     {height: 300px; background-color: whitesmoke; float: left; border-radius: 8px; margin: 5px; padding: 5px;}
main    {height: 500px; background-color: lightgray; border-radius: 8px; margin: 5px; padding: 5px;}
article {height: 450px; background-color: whitesmoke; width: 70%; border-radius: 8px; margin: 5px; padding: 5px; float: left;}
aside   {height: 150px; background-color: whitesmoke; width: 25%; border-radius: 8px; margin: 5px; padding: 5px;}
footer  {height: 200px; background-color: white; border-radius: 8px; margin: 5px; padding: 5px;} 
p       {font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
